// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 *
 * RK3506G PowerFin with SPI NOR storage
 */

/dts-v1/;

#include "rk3506-powerfin.dts"

/ {
	model = "RK3506G PowerFin SPI NOR";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=ttyFIQ0 storagemedia=sd root=/dev/mmcblk0 rootfstype=ext4 rootwait rw";
	};
};

&fspi {
	/delete-node/ flash@0;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};
